@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
*{
	margin: 0;
	padding: 0;
}
h1,h2{

}
h1{
	padding-top: 1.5%;
}
h2{
	margin-top: 1.5%;
}
img{
	padding-right: 1%;
}
#inner-header{
	width: 100%;
	background-color: #4d4d4d;
	height: 200px
}
.text{
	text-align: center;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-style: Bold;
	font-size: 28px;
	line-height: 38px;	
}

body{
	/*background-color: #4d4d4d;*/
	font-family: 'Open Sans', sans-serif;
}

.key-list{
	position: absolute;
	right: 80px;
	bottom: 100px;
	list-style: none;
	margin: 0;
	padding: 0;
	color: black;
}
.key-list.inverse{
	color: white;
}
.key-list li{
	margin-bottom: 20px;
	text-align: right;
}
.key-list__text{
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 27px;
	display: inline-block;
	align-items: center;
	text-align: right;
	margin-right: 8px;
}

.key-list__icon{
	vertical-align: top;
	font-family: 'Noto Sans', sans-serif;
	background: white;
	color: black;
	border-radius: 3px;
	border: 1px solid black;
	display: inline-block;
	height: 30px;
	box-sizing: border-box;
	width: 30px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	line-height: 30px;
	margin-right: 20px;
}
.key-list__icon:first-child{
	margin-left: 0;
}
.key-list__icon.space{
	width: 49px;
	background: url("icons/space.svg") 50% 50% no-repeat white;
	background-size: 20px;
	font-size: 0;
}
.key-list__icon.enter{
	background: url("icons/enter.svg") 50% 50% no-repeat white;
	background-size: 20px;
	font-size: 0;
}
.key-list__icon.backspace{
	width: 49px;
	background: url("icons/backspace.svg") 50% 50% no-repeat white;
	background-size: 20px;
	font-size: 0;
}
.key-list__icon.l_arrow, .key-list__icon.r_arrow,
.key-list__icon.u_arrow, .key-list__icon.d_arrow{
	font-size: 0;
	background: url("icons/arrow.svg") 50% 50% no-repeat white;
}
.key-list__icon.l_arrow{transform: rotate(-90deg);}
.key-list__icon.r_arrow{transform: rotate(90deg);}
.key-list__icon.d_arrow{transform: rotate(180deg);}

.menu{

}
.menu__item{
	position: absolute;
	width: 100%;
	max-width: 310px;
	background: rgba(29, 29, 29, 0.7);
	color: white;
	height: 600px;
	left: 100px;
	top: 15%;
	padding: 19px;
}
.menu__right{
	right: 100px;
	left: auto;
}

.menu__item h3{
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	align-items: center;
	text-align: center;
	height: 76px;
	margin-top: 25px;
}
.menu__item hr{
	display: block;
	border: 1px solid rgba(255, 255, 255, 0.1);
}

.menu__item .menu-list{
	margin-top: 8px;
	margin-bottom: 8px;
	max-height: 237px;
	overflow-y: scroll;
}

.menu-list__item{
	background: rgba(0, 0, 0, 0.7);
	height: 41px;
	line-height: 41px;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	padding: 0 15px;
	color: white;
	margin-bottom: 3px;
	display: block;
	border: 2px solid transparent;
	cursor: pointer;

}
.menu-list__item.active{
	border: 2px solid white;
}

.menu__item-bottom .menu-bottom-widget{
	padding-top: 25px;
	height: 75px;
	margin-bottom: 10px;
	text-align: center;
}
.menu__item-bottom .menu-bottom-description{
	text-align: center;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 19px;
	padding: 15px 0;
}


/**
Прогрессбар
 */
div.rc-slider{
	height: 20px;
	width: 90%;
	margin: 0px auto;
}
div.rc-slider-rail{
	position: absolute;
	width: 100%;
	height: 10px;
	background: rgba(0, 0, 0, 0.7);;
	border-radius: 0;
}
div.rc-slider-track{
	position: absolute;
	height: 10px;
	background: white;
	border-radius: 0;
}
.rc-slider-step {
	position: absolute;
	width: 100%;
	height: 4px;
	background: transparent;
}
.rc-slider-mark {
	 position: absolute;
	 top: 18px;
	 left: 0;
	 width: 100%;
	 font-size: 12px;
 }
div.rc-slider-handle{
	visibility: hidden;
}
.widget-radio {
	display: flex;
	width: 90%;
	margin: 0 auto;
}
.widget-radio a{
	background: rgba(0, 0, 0, 0.7);
	height: 30px;
	border: 2px solid transparent;
	text-align: center;
	display: inline-block;
	width: 100%;
	line-height: 30px;
	position: relative;
}
.widget-radio a.active{
	border: 2px solid white;
}

.widget-slider{
	width: 100%;
	margin: 0 auto;
}
.carousel-track{
	width: 175px;
	overflow: hidden;
}

.carousel-item{
	width: 57px;
	height: 57px;
	position: relative;
}
.carousel-track{
	height: 61px !important;
}
.carousel-initialized {
	width: 185px;
	margin: 0 auto;
	overflow: visible !important;
}
.carousel-initialized .carousel-prev{
	left: -40px;
}
.carousel-initialized .carousel-arrow::before{
	background: url("/icons/slider_arrow.svg") no-repeat center;
	display: inline-block;
	width: 11px;
	height: 14px;
	border: none;
}
.carousel-initialized .carousel-next{
	right: -40px;
}
.carousel-initialized .carousel-next::before{
	transform: rotate(180deg);
}
.widget-slider__image{
	width: 57px;
	height: 57px;
	background-size: cover;
	position: relative;
	top: 2px;

}
.carousel-item.active .widget-slider__image{
	border: 2px solid white;
	top: 0;
	left: -2px;
}